<!DOCTYPE html>
<html ng-app="olivierjeannerose">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Olivier Jeanne-Rose</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/png" href="public/core/images/common/favicon.png" />
		<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="public/core/images/common/favicon.ico" /><![endif]-->

		<link rel="stylesheet" href="public/core/libraries/bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="public/core/css/base-site.css" type="text/css">
		<link rel="stylesheet" href="public/core/css/animate.css" type="text/css">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" style="color: rgb(0, 0, 0);"></script>
		<script type="text/javascript" src="public/core/libraries/angular/angular.min.js"></script>
		<script type="text/javascript" src="public/core/scripts/IndexController.js"></script>

		<meta name="description" content="Olivier Jeanne-Rose - Photographe professionnel">
		<meta property="og:description" content="Olivier Jeanne-Rose - Photographe professionnel">
		<meta property="og:title" content="Olivier Jeanne-Rose - Photographe professionnel">
		<meta property="og:site_name" content="Olivier Jeanne-Rose">
		<meta property="og:image" content="http://www.wearemaddalena.com/img/maddalena_fb.jpg">
		<meta property="og:url" content="http://www.jeannerose.com/">
		<!-- <meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@WeAreMaddelena">
		<meta name="twitter:creator" content="@WeAreMaddelena">
		<meta name="twitter:title" content="Maddalena - Découvrez le nouveau single Bay Pop Butcher">
		<meta name="twitter:description" content="Maddalena Découvrez le nouveau single du groupe, Bay Pop Butcher. E.P à paraitre le 18 Octobre">
		<meta name="twitter:image:src" content="http://www.wearemaddalena.com/img/maddalena_twitter.jpg"> -->
	</head>

	<body ng-controller="IndexCtrl" class="{{dayNightText | lowercase}}">
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-6 header-title">
						<a href="<?php echo base_url();?>">Jeanne-Rose</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<span class="header-enter" ng-click="displayHome = !displayHome" ng-hide="displayHome" ng-show="displayEnter">/ ENTER</span>
					</div>
					<div class="col-md-7 col-md-offset-1" ng-hide="displayEnter">
						<ul class="footer-menu list-inline">
							<li><a href="<?php echo base_url("/add");?>">OVERVIEW</a></li> /
							<li><a href="<?php echo base_url("/beauty");?>">BEAUTY</a></li> /
							<li><a href="<?php echo base_url("/stilllife");?>">STILL LIFE</a></li> /
							<li><a href="<?php echo base_url("/portraits");?>">PORTRAITS</a></li> / 
							<li><a href="<?php echo base_url("/walkingeye");?>">WALKING EYE</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
