<link rel="stylesheet" href="public/core/libraries/flexslider/css/flexslider.css" type="text/css" media="screen" />

<div class="wrapper" ng-init="displayEnter = false">
<section class="slider">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li>
            <img src="public/core/images/common/home1.png" />
            </li>
            <li>
            <img src="public/core/images/common/home2.png" />
            </li>
            <li>
            <img src="public/core/images/common/home3.png" />
            </li>
            <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
            </li>
        <li>
            <img src="public/core/images/common/home1.png" />
            </li>
            <li>
            <img src="public/core/images/common/home2.png" />
            </li>
            <li>
            <img src="public/core/images/common/home3.png" />
            </li>
            <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
            </li>
        <li>
            <img src="public/core/images/common/home1.png" />
            </li>
            <li>
            <img src="public/core/images/common/home2.png" />
            </li>
            <li>
            <img src="public/core/images/common/home3.png" />
            </li>
            <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
            </li>
      </ul>
    </div>
    <div id="carousel" class="flexslider">
      <ul class="slides">
        <li>
            <img src="public/core/images/common/home1.png" />
            </li>
            <li>
            <img src="public/core/images/common/home2.png" />
            </li>
            <li>
            <img src="public/core/images/common/home3.png" />
            </li>
            <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
            </li>
        <li>
            <img src="public/core/images/common/home1.png" />
            </li>
            <li>
            <img src="public/core/images/common/home2.png" />
            </li>
            <li>
            <img src="public/core/images/common/home3.png" />
            </li>
            <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
            </li>
        <li>
            <img src="public/core/images/common/home1.png" />
            </li>
            <li>
            <img src="public/core/images/common/home2.png" />
            </li>
            <li>
            <img src="public/core/images/common/home3.png" />
            </li>
            <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
            </li>
      </ul>
    </div>
  </section>
  <section ng-class="daynight">
      <ul class="footer-menu list-inline">
        <li class="dayNight" ng-click="changeDayNight()">{{dayNightText}}</li> /
        <li>FULL SCREEN</li>
  </section>
</div>


<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

<!-- FlexSlider -->
<script defer src="public/core/libraries/flexslider/js/jquery.flexslider.js"></script>

 <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 210,
        itemMargin: 5,
        asNavFor: '#slider'
      });

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
