	</body>
	<footer>
		<div class="row animated fadeIn" ng-show="displayHome">
			<div class="col-md-7 col-md-offset-1">
				<ul class="footer-menu list-inline">
					<li><a href="<?php echo base_url("/overview");?>">OVERVIEW</a></li> /
					<li><a href="<?php echo base_url("/beauty");?>">BEAUTY</a></li> /
					<li><a href="<?php echo base_url("/stilllife");?>">STILL LIFE</a></li> /
					<li><a href="<?php echo base_url("/portraits");?>">PORTRAITS</a></li> / 
					<li><a href="<?php echo base_url("/walkingeye");?>">WALKING EYE</a></li>
				</ul>
				<div class="footer-contact">
					<a href="http://jeanne-rose.tumblr.com/" target="_blank">BLOG</a> / CONTACT
				</div>
			</div>
			<div class="col-md-2 col-md-offset-1 pull-right footer-social">
				<a href="http://www.facebook.com" target="_blank"><img src="public/core/images/common/facebook.png" alt="Facebook"></a>
				<a href="http://www.instagram.com" target="_blank"><img src="public/core/images/common/instagram.png" alt="Instagram"></a>
				<a href="http://www.twitter.com" target="_blank"><img src="public/core/images/common/twitter.png" alt="Twitter"></a>
			</div>
		</div>
	</footer>
	<script >
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-54831827-1', 'auto');
		ga('send', 'pageview');

	</script>
</html>