
@font-face {
	font-family:"Prisma";
	src:url("../fonts/prisma/Prisma.eot?") format("eot"),
		url("../fonts/prisma/Prisma.woff") format("woff"),
		url("../fonts/prisma/Prisma.ttf") format("truetype"),
		url("../fonts/prisma/Prisma.svg#Prisma") format("svg");
		font-weight:normal;
		font-style:normal;
}

@font-face {
  font-family: 'GildaDisplay';
  font-style: normal;
  font-weight: normal;
  src: local('GildaDisplay'), url('../fonts/gildadisplay/GildaDisplay-Regular.ttf') format('truetype');
}

body {
	font-family: 'GildaDisplay', serif;
  	font-size: 20px;
	background: #F5F5F5;
	margin:0 !important;
	
}
a {
	text-decoration : none;
	/*color : #2E302D;*/
}

a:hover {
	text-decoration: none;
	/*color : #2E302D;*/
}

.wrapper {
	margin-right:200px;
	margin-left:200px;
}

.nopadding {
	padding : 0 !important;
	margin : 0 !important;
}

.header-title {
	font-family: 'Prisma';
  	font-size: 52px;
	float: left;
}

.header-enter {
	cursor: pointer;
	float: left;
	margin-top: 40px;
}

/** Images on smartphones/tablets **/

.home-image {
	width: 60%;
	height:auto;
	-webkit-transition: filter 1s ease-out;
	-moz-transition: filter 1s ease-out;
	-o-transition: filter 1s ease-out;
	transition: filter 1s ease-out;
	
	filter: blur(0);
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-ms-filter: blur(0);
	-o-filter: blur(0);
}

.home-image:hover {
	filter: blur(5px);
     -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
     -ms-filter: blur(5px);
     -o-filter: blur(5px);
}

/** Images on pc **/

.home-image-full {
	width: 100%;
	height: auto;
}


/* DAY / NIGHT */
.dayNight {
	cursor:pointer;
}

.day {
	background: #F5F5F5;
	color: #2E302D;
}

.day a {
	background: #F5F5F5;
	color: #2E302D;
}

.night {
	background: #000000;
	color: #F5F5F5;
}

.night a {
	background: #000000;
	color: #F5F5F5;
}

/* FOOTER */
footer {
	font-size: 0.8em;
}

.footer-menu {
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.footer-menu li {
	list-style: none; 
} 

.footer-menu li a {
    width: 100px;
    text-decoration: none;
}

.footer-contact {
	float:left;
	padding-left: 10px;
	font-size: 0.7em;
}
.footer-social {
	margin-top : 10px;
}
.footer-social a img {
	width:10%;
	height: auto;
}